@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bug Report Assist</h1>
    <p class="lead">Bienvenue sur votre magnifique et nouvelle application de report de Bug.</p>
    <p><a href="/Manage/Index" class="btn btn-primary btn-lg">Accéder à mon compte &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Voir mes tickets</h2>
        <p>
            Vous pouvez consulter l'ensemble de vos tickets en cliquant sur le lien ci-dessous
        </p>
        <p><a class="btn btn-default" href="/Tickets">Mes Tickets &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Voir tous les tickets non-résolus</h2>
        <p>
            Vous pouvez consulter l'ensemble de vos tickets en cliquant sur le lien ci-dessous 
        </p>
        <p><a class="btn btn-default" href="/Tickets/non-resolu">Voir tous les tickets &raquo;</a></p> 
    </div>
    <div class="col-md-4">
        <h2>Voir les statistiques</h2> 
        <p>Vous pouvez consulter l'ensemble des statistiques en cliquant sur le lien ci-dessous</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Voir les statistiques &raquo;</a></p>
    </div>
</div>